<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1862">
    <div class="cs-container">
        <!--Top Section-->
        <div class="cs-top">
            <div class="cs-flex">
                  <h2>Social Media</h2>         
                <ul class="cs-social">
                    <li class="cs-social-li">
                        <a href="https://www.linkedin.com/in/carloscampbell1/" class="cs-social-link" rel="noopener" target="_blank" aria-label="">
                            <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/grey-linkedin.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="cs-ul cs-contact-ul">
                <li class="cs-li">
                    <span class="cs-header">Contact Info</span>
                </li>
                <li class="cs-li">
                    <a href="mailto:carlos.g.campbell@gmail.com" class="cs-link">
                        carlos.g.campbell@gmail.com
                    </a>
                </li>
            </ul>
            <ul class="cs-ul">
                <li class="cs-li">
                    <span class="cs-header">Email Anytime</span>
                </li>
                <li class="cs-li">
                    Let's get started on a project together!
                </li>
            </ul>
        </div>
        <!--Bottom Section-->
        <div class="cs-bottom">
            <!--Navigation-->
            <span class="cs-copyright">
                © Copyright 2024 - <a href="" class="cs-copyright-link">Carlos Campbell</a>
            </span>
        </div>
    </div>
</footer>
                                                 