/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1640 {
    padding: var(--sectionPadding);
    background-color: #04142a;
    overflow: hidden;
  }
  #sbs-1640 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1640 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 10;
  }
  #sbs-1640 .cs-title {
    margin: 0 0 2.5rem 0;
    color: var(--headerColorLightMode);
  }
  #sbs-1640 .cs-text {
    margin-bottom: 1rem;
    color: var(--bodyTextColorLightMode);
    opacity: 0.8;
  }
  #sbs-1640 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1640 .cs-picture {
    width: 100%;
    height: auto;
    min-height: 26.25rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-1640 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-1640 .cs-stats-group {
    width: 100%;
    max-width: 35.625rem;
    display: flex;
    flex-direction: column;
  }
  #sbs-1640 .cs-stats {
    width: 100%;
    max-width: 39.375rem;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1.5rem;
    column-gap: 0.75rem;
  }
  #sbs-1640 .cs-stat {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    grid-column: span 4;
    flex-direction: column;
    align-self: stretch;
    align-content: space-between;
  }
  #sbs-1640 .cs-number {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    line-height: 1.2em;
    font-weight: 900;
    text-align: left;
    color: var(--bodyTextColorWhite);
    display: block;
    margin: 0 0 0.25rem 0;
  }
  #sbs-1640 .cs-desc {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    text-align: left;
    /* auto margin top will push text to bottom if there's only one line */
    margin: 0;
    color: var(--primary);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1640 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbs-1640 .cs-stats-group {
    /* 52px - 90px */
    margin-bottom: clamp(3.25rem, 7vw, 5.625rem);
    /* 60px - 120px */
    padding-top: clamp(3.75rem, 10vw, 7.5rem);
    /* 60px - 80px */
    padding-bottom: clamp(3.75rem, 8vw, 5rem);
    position: relative;
    z-index: 1;
  }
  #sbs-1640 .cs-stats-group:before {
    content: '';
    width: 200vw;
    height: 100%;
    background: #F6F5F2;
    opacity: 1;
    position: absolute;
    display: block;
    top: 100%;
    left: -100%;
    z-index: -1;
    transform: translateX(-50%);
  }
  #sbs-1640 .cs-picture {
    height: 100%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-1640 {
    background-color: rgba(0, 0, 0, 0.6);
  }
  body.dark-mode #sbs-1640 .cs-stats-group:before {
    background-color: var(--dark);
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1081 {
    padding: var(--sectionPadding);
    background-color: #04142a;
  }
  #services-1081 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1081 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-1081 .cs-title {
    max-width: 20ch;
  }
  #services-1081 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: stretch;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-1081 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    background-color: #F6F5F2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: span 12;
    position: relative;
    z-index: 1;
  }
  #services-1081 .cs-item:hover .cs-picture:before {
    opacity: 0.8;
  }
  #services-1081 .cs-item:hover .cs-picture img {
    transform: scale(1.2);
  }
  #services-1081 .cs-item:hover .cs-h3 {
    background-color: var(--primary);
  }
  #services-1081 .cs-picture {
    width: 100%;
    /* 180px - 240px */
    height: clamp(11.25rem, 24vw, 15rem);
    /* clips the image from overflowing parent on hover */
    overflow: hidden;
    display: block;
    position: relative;
  }
  #services-1081 .cs-picture:before {
    /* black hover overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
  }
  #services-1081 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.65s;
  }
  #services-1081 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.5em;
    font-weight: 700;
    text-align: inherit;
    width: 100%;
    margin: 0;
    /* 12px - 16px top & Bottom */
    /* 16px - 24px left & right */
    padding: clamp(0.75rem, 1.6vw, 1rem) clamp(1rem, 2.5vw, 1.5rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: #1a1a1a;
    color: var(--bodyTextColorWhite);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 8px - 16px */
    gap: clamp(0.5rem, 1vw, 1rem);
    transition: background-color 0.3s;
  }
  #services-1081 .cs-item-text {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    margin: 0 0 1.25rem;
    /* 16px - 24px */
    padding: clamp(1rem, 2.5vw, 1.25rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding-bottom: 0;
    color: var(--bodyTextColor);
  }
  #services-1081 .cs-link {
    font-size: 1rem;
    line-height: 1.2em;
    text-align: inherit;
    text-decoration: none;
    font-weight: 700;
    /* 16px - 24px */
    margin: 0 0 clamp(1rem, 2.5vw, 1.5rem) clamp(1rem, 2.5vw, 1.5rem);
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #services-1081 .cs-link:hover .cs-arrow {
    transform: translateX(0.25rem);
  }
  #services-1081 .cs-arrow {
    width: 1.25rem;
    height: auto;
    display: block;
    transition: transform 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1081 .cs-container {
    max-width: 80rem;
  }
  #services-1081 .cs-item {
    grid-column: span 4;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-1081 {
    background-color: rgba(0, 0, 0, 0.6);
  }
  body.dark-mode #services-1081 .cs-title,
  body.dark-mode #services-1081 .cs-text,
  body.dark-mode #services-1081 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-1081 .cs-text,
  body.dark-mode #services-1081 .cs-item-text {
    opacity: 0.8;
  }
  body.dark-mode #services-1081 .cs-h3 {
    background-color: rgba(0, 0, 0, 0.9);
  }
  body.dark-mode #services-1081 .cs-item {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
