---
title: 'Homepage'
description: 'Carlos Home Page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1350">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Small Business Web Design & Development</h1>
            <p class="cs-text">
               Fullstack developer at your service.
            </p>
            <a href="mailto:carlos.g.campbell@gmail.com" class="cs-button-solid cs-link">Contact now</a>
        </div>
    </div>
    <!--Bubble Groups-->
    <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
    <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
    <!-- Background Image, background image added in the css at 1600px for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/abstract-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/abstract.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/abstract.jpg" alt="abstract background" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
               

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1640">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">About Myself</h2>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" src="assets/images/me.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" src="assets/images/me.jpg">
                <img loading="lazy" decoding="async" src="assets/images/me.jpg" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <p class="cs-text">
                I am a gamer enthusiast, fitness focused, animal lover. I am based in London Ontario and when I'm not doing any of my hobbies, you can find me working on a Front End project. Programming for me started off as just a fun little side hobby during the pandemic, which gradually grew into a passion.
            </p>
            <p class="cs-text">
                I try to keep a regular online presence both on my github and on my twitter. If you're interested in reviewing my latest work, reading more about my biography, learning about my experiences, and what my educational background is, feel free to reach out to me via email both at the top and bottom of the page.
            </p>
            <ul class="cs-stats">
                <li class="cs-stat">
                    <span class="cs-number">100%</span>
                    <span class="cs-desc">Satisfaction</span>
                </li>
                <li class="cs-stat">
                    <span class="cs-number">100%</span>
                    <span class="cs-desc">Customer Service</span>
                </li>
                <li class="cs-stat">
                    <span class="cs-number">100%</span>
                    <span class="cs-desc">Dedication</span>
                </li>
            </ul>
        </div>
    </div>
</section>
          
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1081">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Completed Work</h2>
            <p class="cs-text">
             Listed below is a showcase of some of my more recent completed work.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" src="assets/images/accounting services.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" src="assets/images/accounting services.jpg">
                    <img loading="lazy" decoding="async" src="assets/images/accounting services.jpg" alt="mechanic" width="413" height="240" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">
                    Tax Chateau Financial Corp
                </h3>
                <p class="cs-item-text">
                    A professionally done bookkeeping website that reaches out to people with accounting issues.
                </p>
                <a href="https://taxchateaufinancial.com/" target="_blank"
                    class="cs-link">
                    Visit
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                </a>
            </li>
            <li class="cs-item">
                
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" src="assets/images/bible_studies_pic.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"  src="assets/images/bible_studies_pic.jpg">
                    <img loading="lazy" decoding="async"  src="assets/images/bible_studies_pic.jpg" alt="mechanic" width="413" height="240" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">
                    St.Thomas Church Of Christ
                </h3>
                <p class="cs-item-text">
                    A fully responsive local church website with a focus on Christianity.
                </p>
                <a href="https://www.stthomaschurchoc.com/" target="_blank"
                class="cs-link">
                    Visit
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" src="assets/images/working in progress.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" src="assets/images/working in progress.png">
                    <img loading="lazy" decoding="async" src="assets/images/working in progress.png" alt="mechanic" width="413" height="240" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">
                    In the works
                </h3>
                <p class="cs-item-text">
                   Currently in the works of creating new projects.
                </p>
                <!-- <a href="" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                </a> -->
            </li>
        </ul>
    </div>
</section>
                                
{% endblock %}